
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("imagen2.jpeg");
    background-size: cover;
    background-position: center;
}
body{s
    margin: 0;
    padding: 0;
    background: url("imagen2.jpeg");   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
/* Contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: rgba(111, 148, 197, 0.212);
    padding: 20px;
}

/* Menú de navegación */
.menu {
    margin-bottom: 20px;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    display: inline;
    margin-right: 20px;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.menu ul li a:hover {
    color: #007BFF;
}

/* Contenedor del mapa */
.map-container {
    position: relative;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

.map-container img {
    
    width: 100%;
    height: auto;
    
    
    
}

.marker {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
}
